<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    一个映射文件了说明如何对一个对象存储、读取、修改和删除，主要提供了若干条映射条目以及相关的SQL语句。
   每个mapper的namespace类似于一个唯一标识符，是内部的映射条目的归属范围
 
   一个映射条目主要就是为了某个dao方法服务的，所以其id一般也设置为和dao方法名保持一致。  
   
-->
<mapper namespace="mybatis.mapper.HotelMapper">
  
    <insert id="addHotel" parameterType="Hotel">
       insert into tbl_hotels(hotel_name,hotel_addr,hotel_phone,hotel_pic)
       values(#{hotelName},#{hotelAddr},#{hotelPhone},#{hotelPic})
    </insert>

    <select id="getHotelById" parameterType="java.lang.Integer" resultType="Hotel">
        select *
        from tbl_hotels
        where hotel_id=#{hotelId}
    </select>

    <select id="loadHotelPicById" parameterType="int" resultMap="imgResultMap">
        select hotel_pic
        from tbl_hotels
        where hotel_id=#{hotelId}
    </select>

    <select id="loadHotels" resultType="Hotel">
        select *
        from tbl_hotels
        order by hotel_id desc
    </select>

    <update id="updateHotel" parameterType="Hotel">
        update tbl_hotels
        set hotel_name=#{hotelName},hotel_addr=#{hotelAddr},hotel_phone=#{hotelPhone},hotel_room_count=#{hotelRoomCount},hotel_pic=#{hotelPic}
        where hotel_id=#{hotelId}
    </update>

    <delete id="delHotelById" parameterType="java.lang.Integer">
        delete from tbl_hotels
        where hotel_id=#{hotelId}
    </delete>

    <resultMap type="java.util.Map" id="imgResultMap" >
        <result  column="hotel_pic" property="imgBytes" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
    </resultMap>
   
</mapper>